.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.btn {
    padding: 12px 22px;
    border: 2px;
}

#link-images{
    margin: 2% auto;
}

.container{
    margin: 4% auto;
}
#events{
    position: relative;
    top: -50%;
   
   
}
     
nav{
    color: darkgray;
    background-color: black;
    box-shadow: 0px 3px 9px #181818;
}

footer{
    width: 100%;
    background-color: #F7F8F9;
    padding: 3%;
    color: #181818;
    box-shadow: 0px -2px 9px #181818;
}

.fa{
    padding: 20px;
    font-size: 30px;
    color: #181818;
}

.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
    
}