.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.btn {
    padding: 12px 22px;
    border: 2px;
}

#link-images{
    margin: 2% auto;
}

.container{
    margin: 4% auto;
}
#events{
    position: relative;
    top: -50%;
   
   
}
     
nav{
    color: darkgray;
    background-color: black;
}

footer{
    width: 100%;
    background-color: gray;
    padding: 3%;
    color: white;
}

.fa{
    padding: 20px;
    font-size: 30px;
    color: white;
}

.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
    
}